; 请妥善保管您的配置
registry=https://sakurarealm-npm.pkg.coding.net/sakurarealmbot/sakurabot-koishi/
always-auth=true
//sakurarealm-npm.pkg.coding.net/sakurarealmbot/sakurabot-koishi/:username=sakurabot-koishi-1635427371476
//sakurarealm-npm.pkg.coding.net/sakurarealmbot/sakurabot-koishi/:_password=Nzg0ZDc3MWIxMGM1NWVmM2U3MWRmYjE5MWFmNDcxNTcxMzUwZjhlNA==
//sakurarealm-npm.pkg.coding.net/sakurarealmbot/sakurabot-koishi/:email=2020212726@qq.com